<!doctype html>
<html>
  <head>
    <!-- Style and javascript links -->
   With your selected mood, you should buy $INSERTCOIN: <%= @price%>
  </head>
  <body>
    <h1>Welcome to the Mood + Crypto generator</h1>
    <h4>Enter a mood below to see some relevant cryptos you should buy:</h4>
    <form action="/moods" method="POST">
      <input type="text" name="keyword">
      <input type="submit">
    </form>

  </body>
</html>
